/* global variable (messing around with) */
:root {
    --bg-color: #0a0a0a;
    --clock-color: #3b54fb;
    --font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: var(--bg-color);
    color: var(--clock-color);
    font-family: var(--font-family);

    display: flex; /* allows to be auto. arranged  */
    justify-content: center;
    align-items: center;
    height: 100vh; /* viewport height */
    margin: 0;
}
h1{
    font-size: 5rem; /* 1rem = 16px (relative to root) */
    letter-spacing: 4px;
}